# dependencies
node_modules
.pnp
.pnp.js

# next.js
.next/
out/

# build / debug
*.tsbuildinfo
.turbo
.cache

# tests / coverage
coverage
.nyc_output

# misc
*.pem
*.log
*.tmp
*.temp

# env (no subir secretos)
.env
.env*.local

# IDE / OS
.idea
.vscode
*.swp
.DS_Store
Thumbs.db
.cursor/
*:Zone.Identifier

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# sqlite / prisma local
*.db
prisma/dev.db
