# dependencies
node_modules
.pnp
.pnp.js

# next.js
.next/
out/

# build / debug
*.tsbuildinfo
next-env.d.ts

# env (no subir secretos)
.env
.env*.local

# IDE / OS
.idea
.vscode
*.swp
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# sqlite / prisma local
*.db
prisma/dev.db
